*{
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: black}
.card{
    width: 300px;
    padding: 29px;
    border-radius: 50%;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgb(rgb(139, 0, 134), green, blue);
    text-align: center;

}
h2{ color: rgb(205, 0, 154);}
p{color: rgb(205, 0, 154)}
.img-1{
    border-radius: 50%;
}

